body{
    padding: 5%;
    background-color: rgb(225, 225, 225);
}
.container{
    
    background-color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
  }
  
  .navbar-logo img {
    height: 30px;
  }
  
  .navbar-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-menu li:last-child {
    margin-right: 0;
  }
  
  .navbar-menu li a {
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar-language {
    font-size: 14px;
    padding-right: 100px;
    color: black;
    font-weight: bold;
  }
  
  .language-selector {
    text-decoration: none;
  }
  
  .fa-globe:before {
    content: "\f0ac";
  }
  .header{
    padding: 1%;
    background-image: url(images/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    text-align: center;
  }
  .header h1{
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .header h3{
    font-size: large;
  }

  .green-button {
    background-color: #2b6a3a;
    color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .container1{
    display: flex;
    justify-content: center;
    padding-top: 70px;
  }
  .left {
    float: left;
    margin-right: 200px;
  }
  
  .right {
    overflow: hidden; /* Clear the float */
  }
  .container2 {
    width: 100%;
    overflow: hidden;
    padding: 5%;
    text-align: center;
  }

  .image1 {
    float: left;
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
  }

  .image1 img {
    width: 45%;
    height: 120px;
  }

  .footer{
    background-color: rgb(251, 246, 246);
    text-align: center;
    padding: 3%;
  }